<footer>
  <div>
    <% if (title === "Map") { %>
    <a href="/map">
      <strong>Map</strong>
    </a>
    <% } else { %>
    <a href="/map">Map</a>
    <% } %>
  </div>
  <div>
    <% if (title === "My Spots") { %>
    <a href="/my-spots">
      <strong>My Spots</strong>
    </a>
    <% } else { %>
    <a href="/my-spots">My Spots</a>
    <% } %>
  </div>
  <div>
    <% if (title === "Settings") { %>
    <a href="settings">
      <strong>Settings</strong>
    </a>
    <% } else { %>
    <a href="settings">Settings</a>
    <% } %>
  </div>
</footer>
