<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotable - <%= title %></title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="map.js" defer></script>
  </head>

  <body>
    <div class="container">
      <%- include('partials/nav') %>

      <div id="map"></div>

      <!-- <form action="/spots" method="post">
        <div>
          <label for="description">What do you want to add to this spot?</label>
          <input
            type="text"
            id="description"
            name="description"
            required
            minlength="3"
            maxlength="255"
          />
        </div>
        <div>
          <label for="address">What is the address of this spot?</label>
          <input
            type="text"
            id="address"
            name="address"
            required
            minlength="3"
            maxlength="255"
          />
        </div>
        <input type="submit" value="Spotted!" />
      </form> -->

      <%- include('partials/footer') %>
    </div>
  </body>
</html>
