body {
  margin: 0;
  font-family: sans-serif;
}

html,
body,
.container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#map {
  height: 100%;
}

#view {
  height: 100%;
  padding: 1rem;
  background-color: #eee;
}

nav {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}

.marker {
  background-image: url("https://placehold.it/50/50");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
